    <!doctype html>
    <html lang="{{ $.Site.Language.Lang }}">
      <head>
        <meta charset="utf-8">
        <base href="{{ $.Site.BaseURL }}">
        <title>{{ $.Site.Title }}</title>
        <meta name="description" content="">
        <meta name="msapplication-tap-highlight" content="yes" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />

        <!-- Google Web Font -->
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lekton:400,700,400italic' rel='stylesheet' type='text/css'>

        <!-- Costum Styles -->
        <link rel="stylesheet" href="css/main.css">

        <!-- Favicon -->
        <link rel="icon" type="image/ico" href="favicon.ico">

        <!-- Modernizer & Respond js -->
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
